.sudha{
     font-size: 30px;
    text-align: center;
    background-color: rgb(0, 255, 72);
}
p{
    text-align: center;
    font-size: 24px;
    background-color: rgb(0, 255, 140);
    border-radius: 10px;
}
.form{
    text-align: center;
    background-color: rgb(228, 30, 165);
}
body{
    text-align: center;
 background-color: rgb(111, 203, 215);
}
.submit{
    text-align: center;
    background-color: rgba(36, 236, 49, 0.807);
}
.name{
    background-color: beige;
}
.date{
    font-size: 25px;
    background-color: aquamarine;
}
.email{
    font-size: 25px;
    background-color: aquamarine;
}
.password{
    font-size: 25px;
    background-color: aquamarine;
}
.command{
    font-size: 25px;
    background-color: aquamarine;
}
.option{
    font-size: 25px;
    background-color: aquamarine;
}
